.skills-bg-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px;
    padding-top: 120px;
    padding-bottom: 100px;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    height: 100%;
    background-image: linear-gradient(to top, #756666,#a77070);
}
@media screen and (orientation:portrait) {
    .skills-bg-container{
        padding: 20px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
.skills-bg-container h1{
    color: #fdfdfd;
    margin: 20px;
    font-size: 35px;
}
.skills-bg-container p {
    font-size: 20px;
}
.logo{
    width: 70px;
    height: 70px;
}
.skills-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 15px;
    width: 50vw;
}
.backend-card,.frontend-card,.database-card,.tools-card{
    margin: 20px;
}
@media screen and (orientation:portrait){
    .backend-card,.frontend-card,.database-card,.tools-card{
        margin: 10px 5px;
        margin-bottom: 20px;
    }
}
/*
@media screen and (orientation:portrait) {
    .logo{
        width: 40px;
        height: 40px;
    }
    .skills-container{
        margin: 10px;
        width: 100%;
    }
    .skills-container p{
        font-size: 12px;
    } 
}
*/