.footer-container{
    padding: 15px 0;
    margin-top: 0px;
    background-color: rgba(19,19,19,0.8);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
}
.footer-icons-container{
    display: flex;
    justify-content: center;
}