@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: "Kalam", "Roboto";
}

body {
  background: #000000;
}

h1, h4, p, a, h2,h3 {
  color: #ffffff;
  text-decoration: none;
}
h1 {
  font-family: "Roboto";
}

ul{
  list-style-type: none;
}
.btn{
  padding: 12px 32px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  background: rgb(2, 245, 225);
  color: #000;
  border: 1.5px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
.btn-light{
  background: transparent;
  color: #ffffff;
}
.btn:hover {
  background: rgba(255,255,255,0.2);
  color: #ffffff;
  transition: 0.3s;
}